* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@page {
  size: A4;
  margin: 0;
}
img {
  max-width: 100%;
  display: inline-block;
}

body {
  font-family: roboto;
  color: #042e43;
}
.container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

/* input feature */
img {
  width: 100px;
}

input[type="file"] {
  cursor: pointer;
  font-size: 1em;
  background-color: rgba(25, 88, 120, 0.089);
  border: 1px solid #cbcbcb;
  padding: 0.35em;
  border-radius: 4px;
  width: 100%;
}
.group {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  justify-content: space-between;
  padding: 1em 0.5em;
  margin: 1em 0 1em 0;
  border-radius: 8px;
  gap: 2em;
  > * {
    flex: 1;
  }
}
.buttons-group {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.btn {
  background-color: rgb(33, 101, 135);
  padding: 0.5em 2em;
  border: none;
  cursor: pointer;

  outline: none;
  color: white;
  border-radius: 4px;
  font-size: 1em;
}
.print {
  background-color: #e8a62d;
}

/* grid layout  */
.grids {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}

/* each grid represents a student profile */
.grid {
  size: A4;
  padding: 1em;
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  flex-direction: column;
  height: 297mm;
  width: 210mm;
  outline: 2px solid hsl(0, 7%, 86%);
  border-radius: 4px;
}
.header {
  /* outline: 2px solid red; */
  display: flex;
  gap: 1em;

  h2 {
    font-weight: 500;
    line-height: 1.6;
    font-size: 1.2em;
    margin-top: 0.25em;
  }
  a {
    color: inherit;
  }
}

.student-details {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.details-group {
  display: grid;
  gap: 2em;
}
.col-one {
  display: flex;
}
.details-group p {
  border-radius: 4px;
}
.highlight {
  background-color: #f1f1f1;
  outline: 1px solid #ddd;
  padding: 0.8em;
  border-radius: 4px;
}
.missing-field {
  color: red;
  font-weight: 600;
  letter-spacing: 1px;
}
.bold_borders {
  outline: 2px solid #101010;
  > * {
    font-weight: 600;
  }
}
.field {
  font-weight: 700;
}
.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.col-two {
  grid-template-columns: repeat(2, 1fr);
}
.student-details hr {
  margin: 2em;
}
.student-details h2 {
  font-weight: 500;
  font-size: 1.25em;
}

/* clause */
.clause {
  margin-top: 2em;
}
.clause p {
  font-size: 1em;
  line-height: 1.6;
  text-align: justify;

  margin-top: 0.25em;
}

.sign {
  margin-top: 7em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.border {
  width: 200px;
  height: 1px;
  border-radius: 10px;
  background-color: #042e43;
  margin-top: 4em;
}

@media (width < 800px) {
  .group {
    flex-direction: column;
    gap: 0.6em;

    > button {
      width: 100%;
    }
  }
  .heading {
    text-align: left;
    font-size: 1.4em;
  }
  .grids {
    padding: 0.8em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  .grid {
    padding: 0.8em;
    height: 295px;
    display: flex;
    gap: 0.5em;
  }
  .header {
    gap: 1em;

    h2 {
      font-size: 1em;
    }
  }

  .form {
    grid-template-columns: 1fr;
    display: block;
  }
}
@media (width < 600px) {
  .form {
    grid-template-columns: 1fr;
    /* display: flex; */
  }
  .form-group {
    padding: 0.2em;
    gap: 0.45em;
    /* background-color: red; */
  }
  .student-details {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25em;

    > * {
      padding: 0.25em;
    }
  }
  .category {
    font-size: 2em;
    font-weight: bold;
  }
}

/* print query */
@media print {
  .grids {
    padding: 0;
    gap: 0;
  }
  .grid {
    size: A4;
    padding: 3em 1em;
    gap: 1em;
    height: 297mm;
    width: 210mm;
    /* background-color: red; */
    /* border: 2px solid hsl(200, 100%, 100%); */
    border: none;
  }

  body {
    padding: 0;
  }
  [contenteditable] {
    outline: none; /* Remove contenteditable outline during print */
  }
  .container {
    display: none;
  }
}
